.container {
  display: flex;
  position: relative;
  width: 23em;
  min-height: 1.5em;
  border: 0.05em solid #a4c3b2;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 0.25em;
  outline: none;
  font-size: 1.1em;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.container:focus {
  border: 0.1em solid #6b9080;
}

.value {
  flex-grow: 1;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.clear-btn {
  background: none;
  padding: 0;
  font-size: 1.2em;
  outline: none;
  border: none;
  cursor: pointer;
  color: #777;
}

.clear-btn:focus,
.clear-btn:hover {
  color: #b90000;
}

.divider {
  background-color: #777;
  align-self: stretch;
  width: 0.05em;
}

.carat {
  border: 0.25em solid transparent;
  border-top-color: #777;
  translate: 0 25%;
}

.options {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 11em;
  overflow-y: auto;
  display: none;
  border-radius: 0.25em;
  border: 0.05em solid #777;
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(100% + 0.25em);
  background-color: #fff;
  z-index: 100;
}

.options.show {
  display: block;
}

.option {
  padding: 0.25em 0.5em;
  cursor: pointer;
}
.option.selected {
  background-color: #a4c3b2;
}
.option.highlighted {
  background-color: #6b9080;
  color: white;
}

.optionsBadge {
  display: flex;
  border-radius: 0.25em;
  background: none;
  outline: none;
  gap: 0.25em;
  padding: 0.35em 0.55em;
  border: 0.05em solid #777;
  align-items: center;
  cursor: pointer;
  font-size: 0.65em;
}
.optionsBadge:hover,
.optionsBadge:focus {
  background-color: #eaf4f4;
  border: 0.05em solid white;
}

.optionsBadge:hover > .remove-button,
.optionsBadge:focus > .remove-button {
  color: rgb(255, 8, 8);
}

.optionsBadge:hover > .remove-button {
  font-size: 1.25em;
}
